*.iml
*.log
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
/psd/renders
/app/keys.gradle
/app/version.txt
/app/*.json
/app/src/test/java/com/arn/scrobble/AuthTest.kt
/app/release-public
/app/src/release/generated
/app/src/main/res/**/strings-sz.xml
/app/src/main/res/**/strings-np.xml
/app/src/main/res/raw/embedded_server_bks.bks
/buildSrc/build/tmp
/misc/profilerDumps
stylegen/Tonal Palettes.svg
.privado
crowdin.properties
